
/* Define custom fonts */
@font-face {
  font-family: "Cantarell";
  src:
    local("Cantarell"), /* Use local system font if available */
    url("../fonts/Cantarell-Regular.ttf") format("ttf");
}


:root {
    /* Define CSS Variables */
    --dashboard-filter-width: 20rem;
    --dashboard-filter-padding: 1rem;
    --dashboard-content-padding: 1rem;
    --dashboard-content-gap: 1rem;
    --dashboard-card-border-radius: 1rem;

    /* Light Theme Variant */
    --body-bg: #ffffff;
    --text-fg: #000000;
    --dropdown-border: #4a86cf;
    --dropdown-bg: #ffffff;
    --dashboard-filter-bg: #f2f2f2;
    --dashboard-card-bg: #fafafa;
    --shadow-color: #c6c6c6;
    --apply-filter-bg: #4a86cf;
    --toast-bg: #4a86cf;
}

body {

    h2 {
        font-weight: 800;
    }

    h3 {
        font-weight: 600;
    }

    font-family: 'Cantarell', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    color: var(--text-fg);
}

.toast-message {
    background-color: var(--toast-bg);
    background-image: none;
    border-radius: 0.6rem;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--dashboard-card-border-radius);
    box-shadow: 1px 1px 1rem var(--shadow-color);
    background-color: var(--dashboard-card-bg);

    .header {
        text-align: center;
        box-shadow: 0px 2px 1px -1px var(--shadow-color);
    }

    .content {
        padding: 0.5rem;
    }

}

#map {
    height: 400px;
    margin: 0;
    border-radius: var(--dashboard-card-border-radius);
}

.dashboard-filter {
    background-color: var(--dashboard-filter-bg);
    position: absolute;
    padding: var(--dashboard-filter-padding);
    width: var(--dashboard-filter-width);
    display: flex;
    flex-direction: column;

    /* Height is calculated as follows: Full height of viewport - paddings */
    height: calc(100vh - 2 * var(--dashboard-filter-padding));

    section {
        display: contents;
    }

    select {
        padding: 0.6rem;
        border: 2px solid var(--dropdown-border);
        color: var(--dropdown-fg);
        background-color: var(--dropdown-bg);
        border-radius: 0.6rem;
        box-shadow: 1px 1px 0.2rem var(--shadow-color);
    }

    #apply-filter-button {
        font-weight: 600;
        margin: 2rem 0;
        padding: 0.7rem;
        background-color: var(--apply-filter-bg);
        border-radius: 0.6rem;
        border: none;
    }

    #apply-filter-button:hover {
        cursor: pointer;
    }
}

.dashboard-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--dashboard-content-gap);
    margin-left: calc(var(--dashboard-filter-width) + var(--dashboard-filter-padding) + var(--dashboard-content-padding));
    padding-left: var(--dashboard-content-padding);
    padding-right: var(--dashboard-content-padding);
    padding-top: var(--dashboard-content-padding);
}

